@import "src/styles/variables";

.form {
  width: 250px;
}

.form * {
  border-radius: 0;
}

.colorInput {
    border-radius: 0;
    height: 100%;
}

.group {
  display: flex;
  width: 100%;
}

.id{
  border-bottom-width: 0;
}

.type {
  border-bottom-left-radius: $border-radius !important;
  border-right-width: 0!important;
  width: 100%;
}

.btn {
  border-bottom-right-radius: $border-radius !important;
  border-left-width: 0;
}